 <div class="user-details">
  <h1> My Expertise </h1>
  <p> 미션형 체험게임 플랫폼 '리얼월드'를 개발한 유니크굿컴퍼니에서 플랫폼 백엔드 개발자로 일하고 있습니다. </p>
  <p> 주로 사용하는 프로그래밍 언어는 파이썬, C#, C++ 입니다. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Brain Engineering</h2>
      <i class="devicon-sourcetree-original colored"></i>
      <i class="devicon-protractor-plain colored"></i>
      <i class="devicon-bootstrap-plain"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
