<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:yongtae7481@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/yongtae_t"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/yongtaef"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Yong-tae"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My blog" target="_blank" href="https://blogyongtae.medium.com"><i class="icon fa fa-bold" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
